<div class="alert">
    <h3>Edit <%= resource_name.to_s.humanize %></h3>
</div>
<div class="well">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>


    <div><%= f.label :email %><br />
    <%= f.email_field :email %></div>

    <div><%= f.label :first_name %><br />
      <%= f.text_field :first_name %></div>

    <div><%= f.label :last_name %><br />
      <%= f.text_field :last_name %></div>
    <div><%= f.label :phone_number %><br />
      <%= f.text_field :phone_number %></div>
    <div><%= f.label :address %><br />
      <%= f.text_field :address %></div>

    <div><%= f.label :zipcode %><br />
      <%= f.text_field :zipcode %></div>

    <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password if you make changes to email or password)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update", :class => "btn btn-primary" %></div>
<% end %>

<h3>Cancel my account</h3>  <br/>

<%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class=> "btn btn-danger" %>
</div>
<%= link_to "Back", :back %>
