<div class="alert">
    <h3>Bid for item</h3>
</div>
<!--Creating a new order/buy -->
<div class="alert alert-danger">
Time left: <%= render "auctions/countdown" %>
</div>
<div class="well">
<% if(@auction.seller_id != @current_user.id) %>
<%= form_tag auction_increase_bid_path(:auction=>@auction),validate:true %>
<p>Are you sure you want increase the bid for <%= @item.name %>?</p>

Bid :    $<%= text_field_tag(:bid_amount, Auction.find(@item.auction_id).bid_amount) %>
<!--%= select_tag :colour, options_for_select([["Red", "red"], ["Green", "green"]], @link.colour) %-->
<div class="field">
  <%= link_to 'Back', orders_path, class: "btn btn-primary"%>
  <%= submit_tag "Confirm bid",class: "btn btn-warning" %>
</div>

<%else%>
    Why would you want to bid for your own item?    <br/>
<%end%>

</div>
