
    <h1>Items of the System</h1><br/>
    <%=  will_paginate @items %>
    <table cellpadding="10" border="0" class="table">
      <tr>
        <th>Item name</th>
        <th>Item description</th>
        <th>Show</th>
        <th>Action</th>
        <th>Delete</th>
      </tr>
      <% @items.each do |item| %>
        <% if item.activated? then font="#009900" else font="#990000" end %>
        <tr class="error">
        <td><font color="<%=font%>"><%= item.name %></font></td>
        <td width="300"><font color="<%=font%>"><%= item.description %></font></td>
        <td><%= link_to image_tag("icon/magnify.png", :border => 0), item_path(item) %></td>
        <% if item.activated?%>
        <td ><%= link_to 'Deactivate', admin_items_deactivate_path(item)%></td>
         <% else %>
        <td><%= link_to 'Activate', admin_items_activate_path(item)%></td><% end %>
        <td><%= link_to image_tag("icon/delete.png", :border => 0), admin_items_delete_path(item), confirm: 'Are you sure you want to delete the item "'+item.name+'"', method: :delete %></td>
      </tr>
      <% end %>
    </table>
    <%=  will_paginate @items %>

